Django==4.1.7
psycopg2-binary
djangorestframework
django_rest_passwordreset
requests
pyyaml
ujson
django-filter
python-dotenv
redis==5.0.1
celery
pytest-django
pytest-cov
model-bakery
drf-spectacular
social-auth-app-django
easy-thumbnails
django-baton
